/* Chat.css */

/* Botón de alternar chat */
.btn-chat {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
  }
  
  /* Contenedor del chat */
  #chat-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: none;
  }
  
  /* Encabezado del chat */
  #chatbot-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    font-weight: bold;
  }
  
  /* Mensajes del chat */
  .chat-message {
    margin: 5px 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  /* Mensajes del usuario */
  .chat-message.user-message {
    background-color: #09B425;
    color: #fff;
  }
  
  /* Mensajes del soporte */
  .chat-message.support-message {
    background-color: #0F62F3;
    color: #fff;
  }
  
  /* Formulario de entrada de mensaje */
  #chat-form {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  /* Input de mensaje */
  #message {
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
  }
  
  /* Botón de enviar mensaje */
  #send-button {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
  }
  
  /* Icono de enviar mensaje */
  #send-button i {
    font-size: 1.2rem;
  }
  
  /* Iconos de usuario y soporte */
  .bi-headset,
  .bi-chat-square-fill,
  .bi-person-fill {
    font-size: 1.2rem;
    vertical-align: middle;
    margin-right: 5px;
  }
  