/* Contact.css */

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .custom-card {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .custom-card .card-title {
    color: #333;
  }
  
  .custom-input {
    width: 100%;
  }
  
  .custom-btn {
    margin-top: 10px;
  }
  