/* News.css */

/* Estilos para el título */
.titulo-con-linea {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .titulo-con-linea h1 {
    color: #009574;
  }
  
  .linea-separadora {
    width: 50px;
    height: 3px;
    background-color: #009574;
    margin: 0 auto;
  }
  
  /* Estilos para las tarjetas de noticias */
  .card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
  
  .card .card-img {
    object-fit: cover;
    height: 100%;
  }
  
  .card .card-img-overlay {
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .card .card-img-overlay a {
    text-decoration: none;
  }
  
  .card .card-img-overlay h5 {
    color: #fff;
  }
  
  .card .card-img-overlay p {
    color: #fff;
    font-size: 14px;
  }
  
  /* Estilos para el enlace */
  .card .card-img-overlay a:hover {
    text-decoration: underline;
    color: #fff;
  }
  